stanford-corenlp-full
id-ud-dev.conllu
indonesian-dev.conllu
id-ud-train.conllu
indonesian-train.conllu

.Python
bin/
include/
lib/
pip-selfcheck.json

sv-ud-dev.conllu
sv-ud-test.conllu
sv-ud-train.conllu
swedish-dev.conllu
swedish-test.conllu
swedish-train.conllu
swedish.nndep.model.backup.txt.gz

swedish.word2vec.model.txt